*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  padding: 20px;
  background: #000;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.links{
  display: flex;
  align-items: center;
}

ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

ul li a{
  text-decoration: none;
  color: gray;
  padding: 7.5px 25px;
  font-size: 1.2rem;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -ms-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

ul li a:hover{
  background: rgba(116, 116, 116, 0.224);
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: ease-in 0.3s;
  -moz-transition: ease-in 0.3s;
  -ms-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.active{
  background: rgba(116, 116, 116, 0.224);
  color: #fff !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
