/* div {
  background: #00a4db;
  border-radius: 10px;
  height: 100px;
  width: 100px;
} */

/* button {
  padding: 5px;
  border: 1px solid black;
  background: transparent;
  transition: all ease 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

button:hover {
  color: white;
  background: #000;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 300px 0px 0px 0px;
}

input{
  padding: 5px;
  border: 1px solid black;
  font-size: large;
  background: transparent;
  transition: all ease 0.3s;
}

input:focus{
  transition: all ease 0.3s;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@keyframes circlet {
  from { border-radius: 0; }
  to   { border-radius: 50%; }
}

.box {
  background: #000;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  transition: all ease 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.box:hover {
  animation: circlet 0.3s ease forwards;
}

.box1 {
  background: #ff4a4a;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.box2 {
  background: #fffc4a;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.box3 {
  background: #74ff4a;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.box4 {
  background: #4a4aff;
  border-radius: 10px;
  height: 100px;
  width: 100px;
} */

/* To Do List */

ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
}
